@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg {
    background-image: url(../dist/img/hero.jpg);
    background-size: cover;
    height: calc(100vh - 143px);
}

.hero-text-shadow {
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.8);
}

.cardsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.lg-next::before {
    content: "►" !important;
}

.lg-prev::after {
    content: "◀" !important;
}

.lg-toolbar .lg-close::after {
    content: "⛌" !important
}

.lg-zoom-in,
.lg-toolbar .lg-download {
    display: none;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}



.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: flex;
    animation: 10s slide infinite linear;
}

.contactobg {
    background-image: url(../dist/img/banda.jpg);
    background-size: cover;
    background-position: center 25%;
}

.w-links {
    width: max-content;
}